*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    color: orangered;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: black;
}
.navbar{
    background-color: white;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: solid 1px black;

}
.nav-links{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 25px;
    text-decoration: underline orangered 2px;
}
.menu{
    display: none;
    color: black;
    font-size: 35px;
}
.contact-btn{
    background-color: orangered;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 900px){
    .menu{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .nav-links.show{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        background-color: white;
        width: 100%;
        padding-block: 15px;
        text-align: center;
        gap: 40px;
    }
}
.home{
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-heading{
    font-size: 50px;
}
.about{
    height: 100vh;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-heading{
    font-size: 50px;
}
.about-paragraph{
    font-size: 25px;
    width: 50%;
    text-align: center;
    margin-top: 20px;
}
.projects{
    height: 100vh;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-heading{
    font-size: 50px;
    margin-bottom: 50px;
}
.project1{
    width: 300px;
    height: 200px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.project2{
    width: 300px;
    height: 200px;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.project3{
    width: 300px;
    height: 200px;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.services{
    height: 100vh;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-heading{
    font-size: 50px;
    margin-bottom: 50px;
}
.service1{
    width: 300px;
    height: 100px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.service2{
    width: 300px;
    height: 100px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.service3{
    width: 300px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.service4{
    width: 300px;
    height: 100px;
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.service5{
    width: 300px;
    height: 100px;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.contact{
    height: 100vh;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-heading{
    font-size: 50px;
    margin-bottom: 50px;
}
.contact-form{
    width: 50%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}